:root{
    --primer-color: #ff6347;
    --secundary-color: #0a1128;
    --color-effect-menu: #dc143c;
    --white-color: #ffffff;
    --gap: 3rem;
    --light-grey-color: #eeeeee;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

.main-bg{
    background-image: url('/assets/img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg{
    background-color: var(--white-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section{
    height: 100vh;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-grey-color);
}

.menu h1{
    font-size: 2.4rem;
    color: var(--primer-color)
}

.menu h1 a{
    color: inherit;
    text-decoration: none;
}

.menu nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--primer-color);
    display: block;
    padding: 2rem;
    position: relative;
}

.menu nav ul li a::after{
    content: '';
    bottom: 1.5rem;
    left: 50%;
    background-color: var(--color-effect-menu);
    width: 0;
    height: 0.2rem;
    position: absolute;
    transition: all 300ms ease-in-out;
}

.menu nav ul li a:hover::after{
    width: 50%;
    left: 25%
}

.menu ul{
    display: flex;
    list-style: none;
}


